Checks:          'bugprone-*,
                  clang-analyzer-*,
                  cppcoreguidelines-*,
                  google-*,
                  llvm-*,
                  misc-*,
                  -modernize-*,
                  performance-*,
                  portability-*,
                  readability-*,
                  -clang-diagnostic-pragma-once-outside-header,
                  -cppcoreguidelines-pro-type-vararg,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -cppcoreguidelines-avoid-c-arrays,
                  -llvmlibc-restrict-system-libc-headers,
                  -llvmlibc-implementation-in-namespace,
                  -llvmlibc-callee-namespace,
                  -misc-non-private-member-variables-in-classes,
                  -readability-magic-numbers'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
CheckOptions:
  cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: '1'
SystemHeaders:   false
