[submodule "externals/gtest"]
	path = externals/gtest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "externals/juce"]
	path = externals/juce
	url = git://github.com/julianstorer/JUCE.git
[submodule "externals/vulkan"]
	path = externals/vulkan
	url = https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers.git
[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw.git
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
